<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hearthstone</h1>
    <form action="/cards" method="post">
      <input type="number" name="mana"  placeholder="Mana">
      <input type="number" name="attack" placeholder="Attack">
      <input type="number" name="health" placeholder="Health">
      <input type="text" name="description" placeholder="Name/Description">
      <input type="submit" value="Create">
    </form>
    <h1>Card Stacks</h1>
    <hr>
    <h3>My Cards</h3>
    <% for (let i = 0; i < deck.length; i++){%>
      <hr>
      <div class="">
        <h6><%= deck[i].description %></h6>
        <p>Mana: <%= deck[i].mana %></p>
        <p>Attack: <%= deck[i].attack %></p>
        <p>Health: <%= deck[i].health %></p>
        <a href="/cards/remove/<%=cards[i].id%>">Remove from My Cards</a>
      </div>
    <% } %>
    <hr>
    <h3>All Cards</h3>
    <% for (let i = 0; i < cards.length; i++){%>
      <hr>
      <div class="">
        <h6><%= cards[i].description %></h6>
        <p>Mana: <%= cards[i].mana %></p>
        <p>Attack: <%= cards[i].attack %></p>
        <p>Health: <%= cards[i].health %></p>
        <a href="/cards/add/<%= cards[i].id %>">+ My Cards</a>
      </div>
    <% } %>
  </body>
</html>
